$selectedColor: #1a73e8;
.cell {
    &.selected {
        background-color: #2a7ae34e;
        &-primary {
            border: solid 2px $selectedColor;
            &::before {
                content: '';
                position: absolute;
                height: 12px;
                width: 12px;
                background-color: $selectedColor;
                bottom: -4px;
                right: -4px;
                border: solid 1px white;
            }
        }
    }
}
